# Jupyter
.ipynb_checkpoints/

# Python
__pycache__/
*.py[cod]

# Environments
.venv/
venv/
.env

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Do not publish installers / presentations
*.msi
*.pptx

# Serialized objects (reproducibility)
*.pkl

# PDFs
*.pdf
